
.env
/.pnp
.pnp.js
.yarn/install-state.gz

/.git/
/.gits/
.vscode
/node_modules
# next.js
/.next/
/out/
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
package-lock.json
.vscode/extensions.json

pnpm-lock.yaml

22d200af7f53b1e8925a108f7c1412e6.jpg
