@import url("https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
   --foreground-rgb: 0, 0, 0;
   --background-start-rgb: 214, 219, 220;
   --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
   :root {
      --secondary: "#717489";
      --tertiary: "#f5f6ff";
      --main: "#26262e";
   }
}

html {
   font-size: clamp(12px, 1vw, 32px);

   @apply w-screen bg-[#f2f2f2] overflow-x-hidden dark:bg-[#1c1d22] dark:text-[#f5f6ff];
}

body {
   /* background: url("../img/layout.jpg") no-repeat; */
   /* background-size: cover; */
   @apply flex;
}

body > section > section {
   @apply w-full py-2;
}

/* body > section > section::-webkit-scrollbar {
   width: 0.5rem;
} */

/* body > section {
   @apply px-8;
} */

h1 {
   @apply text-3xl font-bold;
}

hr {
   @apply h-0.5 my-1 bg-current opacity-75;
}

a,
.bx button {
   @apply text-black dark:text-white;
}

nav > section > div > ul.General {
   @apply mt-auto;
}

details summary {
   @apply list-none cursor-pointer;
}

.bg-main {
   @apply bg-[#f5f6ff] dark:bg-[#26262e];
}

.main {
   @apply p-4 bg-main rounded-xl shadow-md shadow-tertiary;
}

.input {
   @apply w-full h-9 px-3 py-2 !bg-transparent border relative border-tertiary shadow shadow-tertiary rounded-2xl outline-none;
}

.auth label.sliding {
   @apply relative;
}
.auth label.sliding > input + span {
   transition: all 30ms;
   @apply px-2 bg-white block absolute left-10 z-10;
}

label.theme-switch {
   @apply border-2 border-transparent inline-block;
}

label.theme-switch:has(input[type="radio"]:checked) {
   @apply border-primary;
}

.search:has(input:focus) {
   @apply bg-main;
}

.search:has(input:focus) > ul {
   @apply block;
}
/* .search input:focus {
   @apply text-primary;
} */

:is(.auth label.sliding > input:focus, .auth label.sliding > input:valid)
   + span {
   transform: translate(0, -50%);
   @apply top-0;
}

details.WidgetsPopup[open] + *,
details.WidgetsPopup[open] > summary > span {
   @apply !hidden;
}

@layer utilities {
   .text-balance {
      text-wrap: balance;
   }
}
